---
import ComponentLayout from "@/shared/ui/ComponentLayout.astro";
import Button from "@/shared/ui/Button.astro";
import type { HeroProps } from "./Hero.types";

const props = Astro.props as HeroProps;
---

<header data-type="header" class="border-b h-[96px] w-full">
  <ComponentLayout>
    <div class="flex h-full items-center w-full justify-between">
      <h1 data-props="title">{props.title}</h1>
      <div class="flex items-center max-w-[546px] justify-between w-full">
        <nav data-props="navigation">
          <ul
            class="uppercase flex gap-[24px] text-xs"
            data-props="navigation.label"
          >
            {props.navigation.map((item) => <li>{item.label}/</li>)}
          </ul>
        </nav>
        {props.buttons?.map((item) => <Button>{item.label}</Button>)}
      </div>
    </div>
  </ComponentLayout>
</header>
