---
import Button from "@/shared/ui/Button.astro";
import type { HeroProps } from "./Hero.types";

const props = Astro.props as HeroProps;
---

<div
  class="flex flex-col gap-8 h-dvh max-h-[730px] items-center justify-center"
>
  <h2 class="text-center sm:text-6xl text-4xl">
    {props.title}
  </h2>
  <div class="flex gap-4">
    {
      props?.buttons?.map((button) => (
        <Button href={button.href}>{button?.label}</Button>
      ))
    }
  </div>
  <img src="/astro-logo-dark.svg" class="w-[120px]" alt="astro logotype" />
</div>
