---
import type { HeaderProps } from "./Header.types";
import { autoProps } from "@/shared/lib/utils/autoProps";
import Button from "@/shared/ui/Button.astro";

const props = autoProps(Astro.props as HeaderProps);
---

<header
  {...props.$(props, true)}
  class="border-b h-[96px] items-center justify-center w-full"
>
  <div class="h-full flex justify-between items-center w-full">
    <h1 {...props.$(props.title)}>{props.title}</h1>
    <div {...props.$(props.buttons)}>
      {
        props?.buttons?.map((item) => (
          <Button {...props.$(item)} variant="accent" href={item.href}>
            {item.label}
          </Button>
        ))
      }
    </div>
  </div>
</header>
